@charset "UTF-8";
html{
    height: 100vh;
    background-color: rgb(110, 110, 110);
    background-image: url(pexels-rifkyilhamrd-788200.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /*background: color image position repeat size() attachment
    height: 100vh;
    background: rgb(110, 110, 110) url(pexels-rifkyilhamrd-788200.jpg) center center no-repeat cover fixed;*/
}
body{
    background-color: rgba(255, 255, 255, 0.507);
    height: 1600px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
h1{
    background-color: rgba(248, 248, 248, 0.568);
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10px;
    text-align: justify;
    border: 2px solid black;
}
div.container{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;

    text-align: justify;
    border-radius: 10px;
    height: 70vh;
    border: 2px solid black;
    background-color: rgba(138, 138, 138, 0.5);
}
div.um{
    background-color: aquamarine;
    height: 20%;
    width: 150px;
    text-align: center;
    flex: auto;
}
div.dois{
    background-color: lightsalmon;
    height: 20%;
    width: 150px;
    text-align: center;
    flex: auto;
}
div.tres{
    background-color: lightgreen;
    height: 20%;
    width: 150px;
    text-align: center;
    flex: auto;
}
