@charset "UTF-8";
html{
    background-color: black;
}
body{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 100%;
}

h1{
    background-color: rgb(175, 175, 175);
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10px;
    text-align: justify;
}
p{
    background-color: rgb(175, 175, 175);
    padding: 10px;
    text-align: justify;
    width: 95%;
    border-radius: 10px;
}